.inline-documentation-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10004;
  width: 50px;
  height: 50px;
  padding: 5px 0 0 4px;
  border: 0;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.inline-documentation-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #008fb3;
  border-radius: 50%;
  z-index: -2;
}

.inline-documentation-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #006d88;
  transition: all 0.3s;
  border-radius: 50%;
  z-index: -1;
}

.inline-documentation-button:hover:before {
  width: 100%;
}

.inline-documentation-button:active:before {
  background-color: #004556;
}

.inline-documentation-icon {
  background: url(../images/information.svg) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.inline-documentation-button.add {
  opacity: 0;
  padding: 0;
  z-index: 10003;
  transition: all 0.3s ease;
}

.inline-documentation-button.add.show {
  right: 70px;
  opacity: 1;
  transition: all 0.3s ease;
}

.inline-documentation-button.add .plus {
  font-family: Arial;
  font-size: 40px;
  color: #ffffff;
  line-height: 40px;
}

.inline-documentation-button.add.close {
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

.inline-documentation-overview {
  position: fixed;
  bottom: 0;
  right: -400px;
  opacity: 0;
  width: 400px;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 0 0 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  transition: all .3s ease;
  z-index: 10001;
}

.inline-documentation-overview.show {
  right: 0;
  opacity: 1;
  transition: all .3s ease;
}

.inline-documentation-overview .inline-doc {
  background: #fff;
  padding: 10px 0 10px 15px;
  border-radius: 10px;
  border-left: 5px solid #008fb3;
  box-shadow: 1px 4px 20px -5px rgba(0,0,0,0.15);
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
}

.inline-documentation-overview .inline-doc.unpublished {
  background-color: rgba(211, 211, 211,.9);
}

.inline-documentation-overview .inline-doc h2 {
  margin: 0;
  padding-right: 15px;
}

.inline-documentation-overview .inline-doc .content-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  padding-right: 20px;
  animation: hide-scroll 0.3s;
}

@keyframes hide-scroll {
  from,
  to {
    overflow: hidden;
    padding-right: 20px;
  }
}

.inline-documentation-overview .inline-doc.open .content-wrapper {
  max-height: 250px;
  overflow-y: scroll;
  padding-right: 0;
  transition: all 0.3s;
  animation: hide-scroll-2 0.3s; /* Somehow can't use the same animation. */
}

@keyframes hide-scroll-2 {
  from,
  to {
    overflow: hidden;
    padding-right: 20px;
  }
}

.inline-documentation-overview::-webkit-scrollbar,
.inline-doc .content-wrapper::-webkit-scrollbar {
  width: 20px;
}

.inline-documentation-overview::-webkit-scrollbar-track,
.inline-doc .content-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

.inline-documentation-overview::-webkit-scrollbar-thumb,
.inline-doc .content-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #e4e4e4;
}

.inline-documentation-overview::-webkit-scrollbar-thumb {
  background-color: #006d88;
}

.inline-doc .content-wrapper .content {
  padding-right: 15px;
}

.inline-doc .content-wrapper .content .metadata {
  font-size: 12px;
}

.inline-documentation-form {
  position: fixed;
  bottom: 0;
  right: -400px;
  opacity: 0;
  width: 400px;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  box-shadow: 1px 4px 20px -5px rgba(0,0,0,0.15);
  transition: all .3s ease;
  z-index: 10002;
}

.inline-documentation-form h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.inline-documentation-form.show {
  right: 0;
  opacity: 1;
  transition: all .3s ease;
}

.inline-documentation-form .node-form .form-wrapper {
  margin-bottom: 0;
}

.inline-documentation-form .node-form details,
.inline-documentation-form .node-form details.form-wrapper {
  margin-bottom: 1em;
}

.inline-documentation-form .form-item,
.form-actions {
  margin-top: 0;
}

.inline-documentation-form textarea[data-drupal-selector="edit-field-inline-doc-page-element-1-value"].flash {
  animation: flash 1s;
}

@keyframes flash {
  from {
    background-color: #006d88;
    color: #ffffff;
  }
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

.inline-documentation-form .inline-documentation-select-element {
  float: right;
  margin: -4px 0 4px 0;
}

.inline-documentation-selector-overlay {
  position: absolute;
  background-color: rgba(0,191,255,0.5);
  z-index: 10000;
  pointer-events: none;
  border-radius: 5px;
  padding: 4px;
  display: none;
}

#inline-documentation-selector-help {
  font-size: 12px;
  font-family: Arial;
  background-color: rgba(0,109,136,0.75);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0 0 10px;
  z-index: 10010;
  padding: 2px 5px;
  pointer-events: none;
  border-radius: 5px;
  box-shadow: 0 0 4px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 28%);
}
