<div class="inline-documentation">
  <button type="button" id="toggle-inline-documentation" class="inline-documentation-button" title="{% trans %}Open/close documentation{% endtrans %}">
    <span class="inline-documentation-icon"></span>
    <span class ="visually-hidden">{% trans %}Show/hide documentation{% endtrans %}</span>
  </button>

  {% if form is not empty %}
    <button type="button" id="add-inline-documentation" class="add inline-documentation-button" title="{% trans %}Add documentation{% endtrans %}">
      <span class="plus">+</span>
      <span class ="visually-hidden">{% trans %}Add documentation{% endtrans %}</span>
    </button>

    <section class="inline-documentation-form">
      {{ form }}
    </section>
  {% endif %}

  <section class="inline-documentation-overview">
    {{ nodes }}
  </section>
</div>
